.carousel.carousel-fit {
	position: relative;
	}

.carousel.carousel-fit.slide {
	overflow: hidden;
	}

.carousel.carousel-fit .carousel-inner > .item {
	text-align: center;
	}

.carousel.carousel-fit .carousel-inner > .item > img {
	display: inline-block
	}

/*below styles the indicators to be hidden*/
.carousel-control.left {
	background-image: none;
	background-image: none;
	background-repeat: no-repeat;
}

.carousel-control.right {
	left:auto;
	right:0;
	background-image: none;
	background-image: none;
	background-repeat: no-repeat;
}